fastapi
uvicorn
pydantic[email]>=2.0.0
pydantic-settings
langgraph
langchain-ollama
langchain-community
faiss-cpu
sentence-transformers
pymupdf
pdfplumber
httpx
python-multipart
tavily-python
langsmith
python-dotenv
websockets
sqlalchemy[asyncio]
asyncpg
docling
